@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply p-3
}


input:focus, input:focus-visible{
  outline: none;
  font-family: inherit;
}



header, footer, .header{
    @apply flex gap-3 p-3 rounded-xl border-2 justify-center
    bg-gray-800
}

